/node_modules
/public/hot 
# /public/img/socios
/public/img/empleados
/public/img/activos
/public/storage
/storage/*.key
/storage/ASCII
/storage/LogSafcon
/vendor
/.idea
/.vscode
/.vagrant
/resources/assets/js/f_dev.js
/resources/assets/js/functions_dev.min.js
/resources/assets/js/components/plugin vue/excel.vue
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log 
package-lock.json
public/mix-manifest.json
public/css/plantilla.css
public/js/app.js
public/js/plantilla.js 
app/AsinalssClass/AllegedRC4.php
app/AsinalssClass/Base64SIN.php
app/AsinalssClass/ControlCode.php
app/AsinalssClass/Verhoeff.php
app/Http/Controllers/CodeControl.php
.env

